# compiled files (invert.js, invert.wasm)
wasm/compiled/*
!wasm/compiled/.gitkeep

# .bmp images to test app
app/images/*
!app/images/.gitkeep
!app/images/1.bmp
!app/images/2.bmp
!app/images/3.bmp
!app/images/images.json

node_modules
package-lock.json